body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #bcd8f3;
}

h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(68, 19, 19);
}

form {
  max-width: 700px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  padding: 20px;
}

fieldset {
  border: 2px solid rgb(92, 23, 23);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(197, 207, 199);
}

legend {
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  color: rgb(150, 129, 102);
}

label {
  display: block;
  margin-top: 10px;
  color: black;
}

input {
  background-color: rgb(232, 199, 232);
  padding: 8px;
  margin-top: 4px;
  border: 1px solid rgb(111, 96, 73);
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100px;
  padding: 10px;
  background-color: rgb(255, 226, 191);
  color: rgb(67, 17, 17);
  border-color: rgb(238, 182, 113);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(225, 145, 48);
}
